<h1 style='text-align: center'>List of Kittens!</h1><br>

<body>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h2>Kitten Details</h2>

      <table style='width:100%'>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Cuteness</th>
        <th>Softness</th>
      </tr>


    <% @kittens.each do |kitten| %>
        <tr>
        <td style='text-align: center'><%= link_to kitten.name, edit_kitten_path(kitten.id) %></td>
        <td style='text-align: center'><%= kitten.age %></td>
        <td style='text-align: center'><%= kitten.cuteness %></td>
        <td style='text-align: center'><%= kitten.softness %></td>
        <td style='text-align: center'> <%= link_to 'Delete', { action: :destroy, id: kitten.id }, method: :delete %></td>
        </tr>
    <% end %>
    </table><br><br>


    <%= link_to 'New Kitten!', new_kitten_path %>
</body>